// 边框圆角
$q-border-radius-small: 4px;
$q-border-radius-normal: 6px;

// 阴影
$q-box-shadow-normal: 0px 0px 6px rgb(226, 226, 226);
$q-box-shadow-huge: 0px 0px 20px rgb(214, 214, 214);

// 过渡
$q-transition-speed0: all .4s;
$q-transition-speed1: all .8s;

// 公共动画 1
.bounce-move,
.bounce-leave-active,
.bounce-enter-active {
    transition: all .5s ease-out;
}

.bounce-enter-from,
.bounce-leave-to {
    opacity: 0;
    transform: scaleY(0.01) translateX(40%);
}

.bounce-leave-active {
    position: absolute;
}

// 公共动画 2
.slide-move,
.slide-leave-active,
.slide-enter-active {
    transition: all .5s ease-out;
}

.slide-enter-from,
.slide-leave-to {
    opacity: 0;
    transform: translateY(-100%);
}


.slide-leave-active {
    position: absolute;
}