// 边框圆角
$q-border-radius-small: 4px;
$q-border-radius-normal: 6px;

// 阴影
$q-box-shadow-normal: 0px 0px 6px rgb(226, 226, 226);
$q-box-shadow-huge: 0px 0px 20px rgb(226, 226, 226);

// 过渡
$q-transition-speed0: all .4s;
$q-transition-speed1: all .8s;